<!-- app-notifications-menu.component.html -->
<button mat-icon-button [matMenuTriggerFor]="notifMenu" aria-label="Notifications" (click)="open.emit()">
    <mat-icon>notifications</mat-icon>
    @if (notifications.length) {
    <span class="notif-badge">{{ notifications.length }}</span>
    }
</button>

<mat-menu #notifMenu="matMenu" xPosition="before">
    @if (notifications.length) {
    @for (n of notifications; track n) {
    <button mat-menu-item>
        <mat-icon>{{ n.icon }}</mat-icon>
        <div class="notif-text">
            <div class="title">{{ n.title }}</div>
            <div class="time">{{ n.time | date:'short' }}</div>
        </div>
    </button>
    }
    } @else {
    <button mat-menu-item disabled>No notifications</button>
    }
</mat-menu>