.notif-badge {
  background: var(--mat-sys-error);
  color: var(--mat-sys-on-error);
  border-radius: 10px;
  padding: 2px 6px;
  font-size: 12px;
  position: relative;
  top: -10px;
  right: -10px;
}

.notif-text .title {
  font-weight: 500;
}

.notif-text .time {
  font-size: 12px;
  opacity: 0.7;
}