.topbar {
  display: flex;
  align-items: center;
  padding: 0 16px;
  gap: 16px;
  background-color: var(--mat-sys-surface);

}

.top-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.app-title {
  font-size: 20px;
  font-weight: 600;
}

.env-chip {
  height: 24px;
  font-size: 12px;
  --mat-chip-label-text-color: var(--mat-sys-on-tertiary-container);
  --mat-chip-elevated-container-color: var(--mat-sys-tertiary-container);
}

.spacer {
  flex: 1 1 auto;
}
